@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(to top, #7bc6cc, #be93c5);
  cursor: default;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  overflow: hidden;
}

header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 100%;
  max-width: 350px;
}
.left {
  align-items: flex-end;
}
.right {
  align-items: flex-start;
}

.left,
.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.col-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: auto auto;
}

footer {
  color: grey;
  letter-spacing: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
  /* margin-top: auto; */
}

.grid {
  height: 442px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  background-color: black;
}
.grid div,
.next-grid div {
  height: 26px;
  width: 26px;
}

.block3 {
  background-image: url(images/green_block.png);
}

.controlPanel {
  background: #f0f0f0;
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 25px;
  height: auto;
}

.controlPanel .title {
  padding: 20px 20px 20px 20px;
  margin-bottom: 0px;
}
.stats {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 10px;
}
button {
  margin: 5px 10px;
  border: 1px solid black;
  background: transparent;
  border-radius: 25px;
  padding: 0px 30px;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 300;
}

button:hover {
  background-color: white;
}
.buttons {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.next-grid {
  height: 104px;
  width: 104px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  position: relative;
  left: 15px;
}

.next-shape {
  height: auto;
  width: auto;
  padding-bottom: 10px;
}
